<h2>My Bookings</h2>
<ul class="booking-list">
  <!-- [class.cancelled]="booking.cancelled -->
  <li *ngFor="let booking of newBooking; let i=index" class="booking-item">
    <div class="booking-info">
      <div class="booking-name">Train Name: {{ train[i].name }}</div>
      <div class="booking-destination">{{ train[i].source_station }} to {{train[i].destination_station}}</div>
      <div>Departure Date:  {{train[i].departure_date}}</div>

    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingModal"
      (click)="view(booking,i)"> View Booking
      details </button>

  </li>
</ul>


<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Booking Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <h6>Journey Details:</h6>
        <p>Train Name: {{ train[ind].name }}</p>
        <p>Source: {{ train[ind].source_station}} </p>
        <p>Destination: {{ train[ind].destination_station }}</p>
        <p>Date: {{ train[ind].departure_date }}</p>
        <p>Time: {{ train[ind].departure_time }}</p>
        <!-- <p>Journey Class: {{ train[ind].journey_class }}</p> -->
        <hr>
        <h6>Passenger Details:</h6>

        <div *ngFor="let p of pass[ind]">
          <p>Name: {{ p.name }}</p>
          <p>Age: {{ p.age }}</p>
          <p>Gender: {{ p.gender}}</p>
          <hr>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelTicket()">Cancel</button>
      </div>
    </div>
  </div>
</div>