<ng-container *ngIf="isAdmin == true; then AdminPanel; else UserPanel">
</ng-container>
<ng-template #AdminPanel>

<nav class="navbar navbar-dark bg-dark mb-7" >
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Home"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/ManageTrains"
          >Manage Trains
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/AllTrains"
          >All Trains
        </a>
      </li>
     
     
    </ul>
  </div>
  I
</nav>

<div>
  <router-outlet> </router-outlet>
</div>

</ng-template>
<ng-template #UserPanel>
  <nav class="navbar navbar-dark bg-dark mb-7">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Home"
            >Home
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/BookTicket"
            >Book Ticket
          </a>
        </li>
      
  
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/MyBookings"
            >My Bookings
          </a>
       
      </ul>
    </div>
    I
  </nav>
  <router-outlet> </router-outlet>
</ng-template>