<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/2.jpg" class="d-block w-100" alt="..." style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="assets/img/1.jpg" class="d-block w-100" alt="..." style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src="assets/img/3.jpg" class="d-block w-100" alt="..." style="height: 600px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


  
</div>

<!-- 
  <p>"Travel with ease, book with us"
    "Book your journey, hassle-free"
    "Connecting you to your destination"
    "Your one-stop destination for rail travel"
    "Travel smart, book with us"
    "Experience convenience at your fingertips"
    "Railway travel made simple"
    "Easy booking, happy traveling"
    "Connecting millions of journeys"
    "Your reliable railway booking partner"</p> -->