<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/2.jpg" class="d-block w-100" alt="..." style="height: 500px;">
    </div>
    <div class="carousel-item">
      <img src="assets/img/1.jpg" class="d-block w-100" alt="..." style="height: 500px;">
    </div>
    <div class="carousel-item">
      <img src="assets/img/3.jpg" class="d-block w-100" alt="..." style="height: 500px;">
    </div>
    <div class="caroussel-item">
      <img src="assets/img/4.jpg" class="d-block w-100" alt="..." style="height: 500px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


<button  type="button" class="btn btn-primary book-ticket" (click)="bookTicket()">Book Your Ticket Now</button>

<div class="card" style="width: 90%; margin-top: 1%; background-color: rgb(155, 153, 153);">
  <div class="card-body">
    <h5 class="card-title">Who are we?</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Railbook : Your ticket to a seamless travel experience</h6>
    <p class="card-text">Railbook is a user-friendly railway ticket booking system that allows customers to book train tickets quickly and easily, while providing real-time information on train schedules, availability, and fares.<br>
      With Railbook, customers can search for train routes, check availability, and book tickets all in one place, making the booking process convenient and hassle-free.<br>
The system also provides options for seat selection, meal preferences, and other add-ons, allowing customers to customize their travel experience.<br>
<!-- Railbook is designed to provide a seamless user experience, with a simple and intuitive interface that makes it easy for even first-time users to book tickets.<br>
In addition to booking tickets, Railbook also provides real-time information on train schedules, delays, cancellations, and other important updates, helping customers stay informed and make informed travel decisions.
Whether you're a frequent traveler or planning a one-time trip, Railbook makes it easy to book train tickets and enjoy a smooth and hassle-free travel experience.<br> -->
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
