
    <div id="search_bar">
        <h5 id="search_heading">Book Train Ticket</h5>
        <form >
            <label for="origin" id="originText" >Origin Station:</label>
            <input type="text" id="origin" name="origin" >
          
            <label for="destination" id="destinationText">Destination Station:</label>
            <input type="text" id="destination" name="destination" >
            <br>
          
            <label for="date" id="dateText">Travel Date:</label>
            <input type="date" id="date" name="date" >
            <br>
          
            <button type="submit" id="submit">Search</button>
          </form>
    </div>
    
    
    <div id="available-trains" *ngFor ="let train of trains">
    
        <div id="train_card">
            <div id = "train_info">
                <p id="train_number"> {{train.train_number}}</p> 
                <h4 id = "train_name"> {{train.train_name}}</h4>
                <p id="departure_time">{{train.departure_time}}</p>
                <h5 id="source">{{train.origin}}</h5>
                <p id="destination_time">{{train.destination_time}}</p>
                <h5 id="destination_place">{{train.destination}}</h5>
            </div>
            <div id="ac-seats">
                <div class="type type-header"><h5>AC</h5></div>
                <div class="type type-info">Available seats<br> {{train.ac_seats}}</div>
            </div>
            <div id="sleeper-seats">
                <div class="type type-header"><h5>Sleeper</h5></div>
                <div class="type type-info">Available seats<br> {{train.sleeper_seats}}</div>
            </div>
            <div id="seater-seats">
                <div class="type type-header"><h5>Seater</h5></div>
                <div class="type type-info">Available seats<br> {{train.seater_seats}}</div>
            </div>
            <button type="button" class="btn btn-primary" id="book-button">Book Now</button>
          </div>
          <br>
    
    </div>

    
    
    