/* search bar */

#search_bar{
    padding: 10px;
    border : 3px solid black;
    width : 850px;
    height: 200px;
    background-color: grey;
    position: relative;
    top: 50px;
    left: 230px;
} 

#search_heading{
    position: relative;
    left: 280px;
}

#originText{
    position: relative;
    top: 7px;
    left: 20px;
}

#origin{
    position: relative;
    top: 7px;
    left: 40px;
}

#destinationText{
    position: relative;
    top: 7px;
    left: 100px;
}

#destination{
    position: relative;
    top: 7px;
    left: 120px;
}

#dateText{
    position: relative;
    top: 22px;
    left: 220px;
}

#date{
    position: relative;
    top: 22px;
    left: 240px;
}

#submit{
    position: relative;
    top: 45px;
    left: 330px;
}
  
  /* Train card */

  #available-trains{
    position: relative;
    top: 120px;
  }

  #train_card{
    /* padding: 10px; */
    border : 3px solid black;
    width : 1000px;
    height: 210px;
    background-color:whitesmoke;
    position: relative;
    left: 130px;
}

  #train_number{
    position: absolute;
    top: 5px;
    left: 10px;
  }

  #train_name{
    position: absolute;
    top: 0px;
    left: 100px;
  }

  #departure_time{
    position: absolute;
    top: 40px;
    left: 10px;
  }

  #source{
    position: absolute;
    top: 40px;
    left: 100px;
  }

  #destination_time{
    position: absolute;
    top: 40px;
    left: 700px;
  }

  #destination_place{
    position: absolute;
    top: 40px;
    left: 800px;
  }

  #ac-seats{
    width : 15%;
    height: 15%;
    position: absolute;
    top: 130px;
    left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #sleeper-seats{
    width : 15%;
    height: 15%;
    position: absolute;
    top: 130px;
    left: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #seater-seats{
    width : 15%;
    height: 15%;
    position: absolute;
    top: 130px;
    left: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .type {
    flex-basis: 50%;
    text-align: center;
  }

  .type-header {
    background-color: aqua;
  }

  .type-info {
    background-color: aquamarine;
  }

  #book-button{
    position: absolute;
    top: 140px;
    left: 800px;
  }

  /* modal */

  /* .modal-body{
    height: 800px;
  }

#ticket-train-name{
  position: relative;
  top: 10px;
  left: 10px;
}

#ticket-train-no{
  position: relative;
  left: 20px;
} */

  