
    <div id="search_bar">
        <h5 id="search_heading">Book Train Ticket</h5>
        <form >
            <label for="origin" id="originText" >Origin Station:</label>
            <input type="text" id="origin" name="origin" [(ngModel)]="origin" onkeydown="this.value = this.value.toUpperCase();"onkeyup="this.value = this.value.toUpperCase();">
          
            <label for="destination" id="destinationText">Destination Station:</label>
            <input type="text" id="destination" name="destination" [(ngModel)]="destination" onkeyup="this.value = this.value.toUpperCase();">
            <br>
          
            <label for="date" id="dateText">Travel Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="date">
            <br>
          
            <button type="submit" id="submit" (click)="search()">Search</button>
          </form>
    </div>
    
    
    <div id="available-trains" *ngFor ="let train of searched_trains">
    
        <div id="train_card">
            <div id = "train_info">
                <p id="train_number"> {{train.train_number}}</p> 
                <h4 id = "train_name"> {{train.train_name}}</h4>
                <p id="departure_time">{{train.departure_time}}</p>
                <h5 id="source">{{train.origin}}</h5>
                <p id="destination_time">{{train.destination_time}}</p>
                <h5 id="destination_place">{{train.destination}}</h5>
            </div>
            <div id="ac-seats">
                <div class="type type-header"><h5>AC</h5></div>
                <div class="type type-info">Available seats<br> {{train.ac_seats}}</div>
            </div>
            <div id="sleeper-seats">
                <div class="type type-header"><h5>Sleeper</h5></div>
                <div class="type type-info">Available seats<br> {{train.sleeper_seats}}</div>
            </div>
            <div id="seater-seats">
                <div class="type type-header"><h5>Seater</h5></div>
                <div class="type type-info">Available seats<br> {{train.seater_seats}}</div>
            </div>
            <button type="button" class="btn btn-primary" id="book-button" data-bs-toggle="modal" data-bs-target="#exampleModal"(click)="bookNow(train)">Book Now</button>
          </div>
          <br>
    
    </div>

    <!-- Scrollable modal -->

    <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Book Ticket</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>

            <ng-container *ngIf="nextClicked == false; then journey_details; else passenger_details">

            </ng-container>
            <ng-template #journey_details>
                <div class="modal-body">
                  <div >
                    <div style="display: flex;"><h5>Journey Details</h5></div>
                    <div style="display: flex; justify-content: space-between;">
                      <div id="ticket-train-name" style="width:45%;">
                        <b>Train Name : </b> {{booking_train.train_name}}
                      </div>
                      <div id="ticket-train-no" style=" width:30%;">
                        <b>Train No : </b> {{booking_train.train_number}}
                      </div>
                    </div>
                    <br>
                    <div style="display: flex; justify-content: space-between;">
                      <div  style="width:30%;">
                        <b>Boarding Station : </b> {{booking_train.origin}}
                      </div>
                      <div style="width:30%;">
                        <b>Destination Station : </b> {{booking_train.destination}}
                      </div>
                      <div  style="width:30%; ">
                        <b>Journey Date : </b> {{booking_train.date}}
                      </div>
                    </div>
                      
                  </div>
                  <br>
                  <div style="display: flex; justify-content: space-around;">
                    <div style="width:50%">
                      <label style="margin-bottom: 5px"><b>Journey Class :</b></label>
                      <select class="form-control" style="width: 60%">
                      <option>AC</option>
                      <option>Sleeper</option>
                      <option>Seater</option>
                      </select>
                    </div>
                    <div style="width:50%">
                      <label style="margin-bottom: 5px"><b>No Of Passengers :</b></label>
                      <select class="form-control" [(ngModel)]="no_Of_Passengers" style="width: 60%" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      </select>
                    </div>
                  </div> 
                  <br>    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="nextButton()">Next</button>
                </div>
            </ng-template >
            <ng-template #passenger_details>
                  <div class="modal-body">
                    <div>
                      <div><h5>Passenger Details </h5></div>
                      <div *ngFor="let i of passeneger_array">
                        <p><b>Passenger {{i}}:</b></p>
                        <form style="justify-content: space-between; display: flex;">
                          <div >
                            <label for="passengerName">Name: </label>
                            <input type="text" id="passengerName" name="passengerName" required>
                          </div>
                          <div>
                            <label for="departureStation">Gender: </label>
                            <input type="text" id="departureStation" name="departureStation" required>
                          </div>
                          <div>
                            <label for="arrivalStation">Age: </label>
                            <input type="text" id="arrivalStation" name="arrivalStation"  required>
                          </div>
                        </form>
                        <br>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Book</button>
                  </div>
            </ng-template>
            <div class="modal-body">

            </div>
            

          </div>
        </div>
      </div>
    


      
    
    